@import '../Cores.scss';
@import '../fonts/Fontes.scss';

#areaPesquisa {
    margin: 50px 0px;
    text-align: center;

    #campoPesquisa {
        width: 50%;
        height: 30px;
        text-align: center;
        font-family: $fonte-padrao;
        font-size: 100%;
        border-radius: 20px;
        outline: none;
        border: none;
        box-shadow: 1px 1px 5px #CCC, -1px -1px 3px #DDD;
    }
}

#areaLoading {
    width: 100%;
    display: flex;
    #loading {
        width: 30%;
        margin: auto;
    }
}

#areaResultados {
    margin: 0px 20px;
    
    .serie{
        display: inline-block;
        width: calc(100% / 4);

        img, span {
            display: block;
        }

        img {
            margin: auto;
            width: 80%;
        }

        span {
            margin-bottom: 40px;
            text-align: center;
            font-family: $fonte-negrito;
        }

        a {
            color: #000;
            text-decoration: none;

            &:hover {
                color: $cor1;
            }
        }

    }
    .mensagemNaoEncontrado {
        text-align: center;
        display: block;
    }

}

@media only screen and (max-width: 768px) {
    #areaPesquisa {
        #campoPesquisa {
            width: 90%;
        }
    }

    #areaResultados {
        .serie {
            display: block;
            width: 100%;
        }
    }

    #areaLoading {
        #loading {
            width: 60%;
        }
    }
}