.header {
    background: #757575;
    display: flex;
    align-content: center;
    align-items: center;
    z-index: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    .header-img {
        position: absolute;
        width: 7%;
        z-index: 1;
        margin: -35px 20px;

    }

    .header-title {
        font-size: 200%;
        margin: 1% 1% 1% 13%;
        
    }
}