@import '../Cores.scss';
@import '../fonts/Fontes.scss';

.header {
    background-color: $cor1;
    padding: 5px 10px;

    * {
        vertical-align: middle;
    }

    img {
        width: 50px;
        margin-right: 20px;
    }

    span {
        color: #1b3954;
        text-shadow: 3px 2px 1px #6D8192;
        font-family: $fonte-decorativa;
        font-size: 160%;
        letter-spacing: 3px;
    }
}