@font-face {
    font-family: 'principal';
    src: url(./Raleway-Regular.ttf);
}

@font-face {
    font-family: 'decorativa';
    src: url(./Poppins-Regular.ttf);
}

$fonte-principal: 'principal';
$fonte-decorativa: 'decorativa';